.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 15px;
  background: #0a031c;
  min-height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
    display: grid;
    grid-template-columns: 300px 3fr;
  }
}

.poster {
  max-height: 400px;
  object-fit: contain ;
}

.title {
  font-size: 40px;
  line-height: 1.15;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listDetail {
  display: flex;
  gap: 10px;
}

.description {
  margin: 0;
  padding-block: 10px;
}

.similar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.similar__list {
  display: flex;
  gap: 15px;
}

.similar__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.similar__image {
  min-width: 110px;
}
