.category {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.category__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.films__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(390px, 460px));
  grid-template-rows: repeat(auto-fill, 265px);
  gap: 40px;
  width: 100%;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
