.wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;


  @media (max-width: 376px) {
    padding-top: 5px;
    flex-direction: column;
  }
}

.title {
  padding: 40px 30px;
}

.link {
  margin-right: 48px;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.navigation__link {
  display: flex;
  flex-direction: column;
}

.navigation__input {
  display: none;
}

.navigation__searchIcon {
  @media (max-width: 376px) {
    width: 12px;
    height: 12px;
  }
}

.navigation__button {
  padding: 4px 14px;
  border-radius: 6px;
  background-color: #ff2c78;

  @media (max-width: 376px) {
    font-size: 12px;
  }
}
